<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Messages</display-name>
    <welcome-file-list>
        <welcome-file>welcomeGWT.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>MD5CheckingService</servlet-name>
        <servlet-class>org.yournamehere.server.MD5CheckingServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MD5CheckingService</servlet-name>
        <url-pattern>/org.yournamehere.Main/md5sum</url-pattern>
    </servlet-mapping>
    <!-- remote logging -->
    <servlet>
        <servlet-name>remoteLogging</servlet-name>
        <servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>remoteLogging</servlet-name>
        <url-pattern>/org.yournamehere.Main/remote_logging</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
