<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{ABSOLUTE} [%t] %-5p %c{1}: %m%throwable%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- 
        <Logger name="org.biojava.nbio.core.sequence.loader.GenbankProxySequenceReader" level="debug">
            <AppenderRef ref="Console"/>
        </Logger>
        -->
        
        <Logger name="org.springframework.security.authentication" level="info"/>
        
        <Logger name="org.yournamehere" level="trace"/>
        
        <Logger name="org.springframework.security" level="info"/>
        
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>